@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    background-color: #242222;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.titulo {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.secoes {
    padding: 25px 30px;
}

.secao_claro {
    background: linear-gradient(0deg, rgba(76, 29, 195, 0.10) 0%, rgba(76, 29, 195, 0.10) 100%), #242222;
}

.invisivel {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.aparecendo {
    opacity: 1;
    transform: translateY(0);
}



/****************CABEÇALHO****************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /*position: sticky;
    top: 0;
    background-color: #242222;*/
}

hr {
    border: 0;
    height: 2px;
    background-color: #9576E3;
}

.cabecalho {
   display: flex;
   align-items: center;
   width: 100%;
}

.cabecalho img {
   max-height: 60px;
}

.cabecalho_texto {
   margin-left: auto;
   display: flex;
   gap: 20px;
}

.cabecalho ul {
    list-style: none; 
    display: flex;
    gap: 20px;
    font-size: 13px;
}

.ri-align-justify {
    display: none;
    cursor: pointer;
}




/****************PAGINA INICIAL****************/
.principal_texto .poppins-medium {
    font-size: 55px;
    padding: 0;
}

.principal {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 100px 0 100px;
}

.principal_foto {
   width: 30%;
   display: flex;
}

.principal_foto img {
   max-width: 100%;
   height: auto;
}

.principal_texto button {
    border: 2px solid #9576E3;
    border-radius: 30px;
    background: linear-gradient(0deg, rgba(76, 29, 195, 0.10) 0%, rgba(76, 29, 195, 0.10) 100%), #242222;
    color: #ffffff;
    padding: 10px;
    margin: 5px;
}





/****************SOBRE MIM****************/
.sobre_mim {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.sobre_mim_foto {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    /*margin-right: 30px;*/
}

.sobre_mim_texto {
    width: 50%;
    margin: 0 50px;
    /*padding-right: 50px;*/
    text-align: left;
}

.sobre_mim_foto img {
    border-radius: 50px;
    width: 225px; 
    height: 225px;
    box-shadow: 0 0 10px #0f0f0f;
}

.sobre_mim_texto .poppins-extralight {
    margin-bottom: 15px;
}





/****************EDUCAÇÃO****************/
.educacao {
    display: flex;
    justify-content: center;
}

.educacao_curso {
    padding: 10px 10px 5px 30px;
    margin: 20px;
    width: 259px;
    height: 81px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 2px solid #9576E3;
    background: rgba(76, 29, 195, 0.10);
    box-shadow: 0 0 10px #0f0f0f;
}

.subtitulo{
    text-align: center;
    margin-bottom: 20px;
}




/****************HABILIDADES****************/
.habilidades {
    display: flex;
    justify-content: center;
    gap: 10px; 
    flex-wrap: nowrap; 
}

.habilidades1 {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap; 
}

.habilidades1 {
    display: flex;
    gap: 20px; 
}

.habilidade {
    width: 108px;
    height: 95px;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(149, 118, 227, 0.50);
    box-shadow: 0 0 10px #0f0f0f;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.habilidade img {
    width: 70%;
    text-align: center;
    display: flex;
}

.figma img{
    width: 38%;
}

.js img{
    width: 60%;
}




/****************PROJETOS****************/
.cards {
    display: flex;
    justify-content: center;
}

.card {
    border: 2px solid #9576E3;
    background: linear-gradient(0deg, rgba(76, 29, 195, 0.10) 0%, rgba(76, 29, 195, 0.10) 100%), #242222;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 0 0 10px #0f0f0f;
    padding: 20px;
}

.card img {
    border-radius: 20px;
    width: 225px; 
    height: 225px; 
}

.card p {
    text-align: center;
    margin: 10px;
}

.card button {
    border: 2px solid #9576E3;
    border-radius: 30px;
    background: linear-gradient(0deg, rgba(76, 29, 195, 0.10) 0%, rgba(76, 29, 195, 0.10) 100%), #242222;
    color: #ffffff;
    padding: 10px;
    margin: 5px;
}

.botao {
    display: flex;
    justify-content: center;
}




/****************GIT****************/

.github_repositorios {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    padding: 0 20px;
}

.repo_card {    
    width: calc(50% - 20px); 
    border-radius: 20px;
    padding: 20px;
    background: linear-gradient(0deg, rgba(76, 29, 195, 0.10) 0%, rgba(76, 29, 195, 0.10) 100%),#242222;;
    box-sizing: border-box;
    box-shadow: 0 0 10px #0f0f0f;
}

.repo_card h3 a {
    color: #ffffff;
    text-decoration: none;
}

.repo_card p {
    margin: 10px 0;
}

.github_tabela {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    color: #fff;
    font-size: 14px;
}

.github_tabela th, .github_tabela td {
    border: 1px solid #9576E3;
    padding: 10px 15px;
    text-align: center;
    background: rgba(76, 29, 195, 0.10);
}

.github_tabela th {
    background-color: #9576E3;
    color: #fff;
}




/****************CONTATO****************/
.contato {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
  
.contato a {
    padding: 8px;
    color: #ffffff;
}

.contato i {
    font-size: 20px;
    margin: 0 3px;
}

.contato-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.contato-imagem img {
  max-width: 400px;
  height: auto;
}

.formulario-contato {
  background-color: linear-gradient(0deg, rgba(76, 29, 195, 0.10) 0%, rgba(76, 29, 195, 0.10) 100%),#242222;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid #8d6bf9;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.formulario-contato form {
  display: flex;
  flex-direction: column;
}

.formulario-contato label {
  margin-top: 15px;
  font-size: 0.95em;
}

.formulario-contato input,
.formulario-contato textarea {
  margin-top: 5px;
  padding: 10px;
  background-color: #242222;
  border: 1px solid #8d6bf9;
  border-radius: 6px;
  color: white;
}

.formulario-contato button {
  margin-top: 25px;
  padding: 12px;
  background-color: #8d6bf9;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}



/****************RODAPE****************/
footer {
    text-align: center;
    padding: 20px 10px;
    font-size: 10px;
}


@media (min-width: 1468px) {
    .github_repositorios {
        padding: 0 450px;
    }
}

/****************MOBILE****************/
@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 15px 20px;
    }

    .ri-align-justify {
        display: block;
        color: #9576E3;
        font-size: 40px;
    }

    .cabecalho img {
        margin-bottom: 10px;
        max-height: 60px;
    }

    .cabecalho_texto ul {
        display: none;
    }

    .principal_texto {
        text-align: center;
        margin-top: 20px;
    }

    .principal {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .principal_texto .poppins-medium {
        font-size: 40px;
    }

    .principal_foto {
        width: auto;
        justify-content: center;
        margin-top: 40px;
    }

    .principal_foto img {
        max-width: 80%;
        height: auto;
    }

    .sobre_mim {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sobre_mim_foto {
        width: 100%;
        margin-bottom: 20px;
        justify-content: center;
    }

    .sobre_mim_texto {
        width: 100%;
        text-align: center;
    }

    .educacao {
        flex-direction: column;
    }

    .educacao_curso {
        width: 90%;
        margin: 10px 0;
        padding: 15px;
    }

    .subtitulo {
        text-align: left;
    }

    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .habilidades1 {
        flex-direction: column;
    }

    .habilidade {
        margin: 5px;
    }

    .repo-card {
        width: 100%;
    }

    .contato-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contato-imagem img {
        width: 80%;
    }

    .formulario-contato {
        width: 90%;
    }
}






/****************HTML PORTFOLIO****************/
.portfolio_adrian_foto {
    text-align: center;
}

.portfolio_adrian_foto img{
    width: 80%;
    border-radius: 20px;

}

.portfolio_adrian_texto {
    text-align: justify;
    margin: 50px 150px;
}




/****************FONTE****************/
.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}